@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
*{box-sizing: border-box; font-family: 'Nanum Gothic', sans-serif;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

header{width: 100%; height: 70px;}
header .wrap{width: 1200px; height: 100%; margin: 0 auto; padding: 0 10px; display: flex;justify-content: space-between; align-items: center;}
header .wrap .logo{}
header .wrap .logo a{display: block; width: 124px; height: 40px; background-image: url(../img/logo_fm.png); background-position: 50% 50%; background-size: cover;}

header .wrap .menu{}
header .wrap .menu ul{display: flex;}
header .wrap .menu ul li{margin: 0 30px;}
header .wrap .menu ul li{margin-right: 0;}
header .wrap .menu ul li a{display: block; font-size: 16px; color: #555;}

header .wrap .menu ul li:hover a{color: #000;}

#banner_top{width: 100%; height: 400px; background-image: url(../img/visual_02.png); background-position: 50% 50%; background-size: cover;}
#banner_top .wrap{width: 1200px; margin: 0 auto; position: relative;}
#banner_top .wrap .txt{position: absolute; left: calc(100% / 6); top: 130px;}
#banner_top .wrap .txt h2{font-size: 32px; color: #fff; padding-bottom: 25px; line-height: 44px;}
#banner_top .wrap .txt a{display: block; width: 140px; height: 30px; display: flex; justify-content: center; align-items: center; font-size: 16px; color: #fff; border: 1px solid #fff; border-radius: 15px; transition: background-color 0.3s, color 0.3s;}

#banner_top .wrap .txt a:hover{background-color: #fff; color: #555;}

#cont01{padding: 60px 0;}
#cont01 .wrap{width: 1200px; margin: 0 auto;}
#cont01 .wrap h2{padding-bottom: 40px; text-align: center;font-size: 24px; color: #555; font-weight: normal;}
#cont01 .wrap .content{display: flex;}
#cont01 .wrap .content .box{width: calc(100% / 3 - 20px); margin: 0 10px;}
#cont01 .wrap .content .box .img{width: 100%; height: 200px; position: relative;}
#cont01 .wrap .content .box .img img{width: 100%; height: 100%;}
#cont01 .wrap .content .box .img .play_icon{display: block; width: 40px; height: 40px; background-image: url(../img/play_icon.png); background-size: cover; background-position: 50% 50%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); cursor: pointer;}
#cont01 .wrap .content .box .txt{padding: 20px 0;}
#cont01 .wrap .content .box .txt p{font-size: 16px; color: #555;}

#banner_mid{width: 100%; height: 300px; background-image: url(../img/visual_04.png); background-size: cover; background-position: 50% 50%; display: flex; justify-content: center; align-items: center;}
#banner_mid .txt{text-align: center;}
#banner_mid .txt h2{font-size: 24px; color: #fff; font-weight: normal;}
#banner_mid .txt p{padding: 40px 0 30px; font-size: 16px; color: #fff; line-height: 24px;}
#banner_mid .txt a{display: block; width: 200px; height: 30px; margin: 0 auto; display: flex; justify-content: center; align-items: center; font-size: 16px; color: #fff; border: 1px solid #fff; border-radius: 15px; transition: background-color 0.3s, color 0.3s;}

#banner_mid .txt a:hover{background-color: #fff; color: #555;}

#cont02{padding: 60px 0;}
#cont02 .wrap{width: 1200px; margin: 0 auto;}
#cont02 .wrap h2{text-align: center; font-size: 24px; color: #555; font-weight: normal;}
#cont02 .wrap .content{display: flex; flex-wrap: wrap; padding: 40px 0;}
#cont02 .wrap .content .box{width: calc(100% / 3 - 20px); margin: 0 10px 20px 10px; height: 380px; position: relative;}
#cont02 .wrap .content .box .img{width: 100%; height: 100%; background-size: cover; background-position: 50% 50%;}
#cont02 .wrap .content .box .img .txt{width: 100%; height: 60px;padding: 0 20px; background-color: rgba(0,0,0,0.6); position: absolute; bottom: 0; display: flex; justify-content: space-between; align-items: center;}
#cont02 .wrap .content .box .img .txt p{font-size: 18px; color: #fff;}
#cont02 .wrap .content .box .img .txt a{display: block; width: 160px; height: 30px; display: flex; justify-content: center; align-items: center; font-size: 14px; color: #fff; border: 1px solid #fff; border-radius: 15px; transition: background-color 0.3s, color 0.3s;}

#cont02 .wrap .content .box .img .txt a:hover{background-color: #fff; color: #555;}

#cont02 .wrap .more{display: block; width: 180px; height: 40px; display: flex; justify-content: center; align-items: center; background-color: #555; color: #fff; margin: 0 auto; border-radius: 20px; transition: background-color 0.3s;}

#cont02 .wrap .more:hover{background-color: #333;}

#review{width: 100%; height: 480px; background-image: url(../img/movie_image_00.jpg); background-size: cover; background-position: 50% 50%; position: relative;}
#review .bg{width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);}
#review .txt{width: calc(1200px / 3 * 2); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
#review .txt h3{font-size: 24px; color: #fff; font-weight: normal;}
#review .txt p{padding: 40px 0 20px; font-size: 14px; color: #fff; line-height: 21px;}
#review .txt img{display: block; margin: 0 auto;}
#review .txt .name{font-size: 14px; color: #fff; padding: 20px 0;}
#review .txt .dots{display: flex; justify-content: center;}
#review .txt .dots span{display: block; width: 20px; height: 20px; background-color: #a0a0a0; border-radius: 50%; cursor: pointer;}
#review .txt .dots span:nth-child(2){margin: 0 30px;}
#review .txt .dots span:hover{background-color: #fff;}

#footer{width: 100%; height: 190px; background-color: #555;}
#footer .wrap{width: 1200px; margin: 0 auto; padding: 40px 10px; height: 100%; display: flex; flex-direction: column;}
#footer .wrap .upper{}
#footer .wrap .upper ul{display: flex;}
#footer .wrap .upper ul li{position: relative;}
#footer .wrap .upper ul li::before{content: ""; position: absolute; bottom: -3px; height: 1px; width: 100%; background-color: #fff; opacity: 0;}
#footer .wrap .upper ul li:hover::before{opacity: 1;}
#footer .wrap .upper ul li:nth-child(2){margin: 0 40px;}
#footer .wrap .upper ul li a{display: block; font-size: 14px; color: #fff;}
#footer .wrap .downer{width: 100%; padding-top: 20px; display: flex;}
#footer .wrap .downer .left{width: 50%;}
#footer .wrap .downer .left p{font-size: 12px; color: #fff; line-height: 19px;}
#footer .wrap .downer .right{width: 50%;}
#footer .wrap .downer .right p{font-size: 12px; color: #fff; line-height: 19px;}